---
import FeaturedArticles from '../components/FeaturedArticles.astro';
import Layout from '../layouts/Layout.astro';
import Robot from '../components/svelte/Robot/index.svelte';
---

<Layout title="Hackitude | About">
  <main>
    <section class="max-w-7xl mx-auto">
      <div class="bg-white px-6 py-24 sm:py-32 lg:px-8">
        <div class="mx-auto max-w-2xl text-center">
          <h2 class="text-4xl font-bold tracking-tight sm:text-6xl">
            About Hackitude
          </h2>
          <Robot client:load />
          <p class="mt-6 text-lg leading-8 text-gray-600">
            We at Hackitude are head-over-heels in love with the
            infinite possibilities of the web. In fact, we're so
            smitten that we've dedicated our lives to exploring every
            nook and cranny of web development, UX design, and
            accessibility.
          </p>
          <p class="mt-6 text-lg leading-8 text-gray-600">
            We believe that the world wide web is like the world's
            biggest playground. It's a place where ideas take shape,
            creativity blossoms, and the impossible becomes possible.
            We're the kids who never stopped playing in this sandbox,
            building digital sandcastles with code, user experience,
            and inclusive design.
          </p>
          <p class="mt-6 text-lg leading-8 text-gray-600">
            As champions of equity, we're committed to making the
            internet a place for everyone. We understand that a truly
            fantastic website is not just about flashy designs and
            complex functionalities—it's about ensuring every
            individual, regardless of their abilities or disabilities,
            can navigate, interact, and enjoy the online experience.
            And we aim to spread this ethos through everything we do
            at Hackitude.
          </p>
          <p class="mt-6 text-lg leading-8 text-gray-600">
            Come join us at Hackitude and let's play, learn, and grow
            together in this wonderfully weird, wild, and wacky web
            world!
          </p>
        </div>
      </div>

      <FeaturedArticles
        heading="Read some of our articles"
        paragraph="Browse some of our articles to find simple explanations and tutorials."
      />
    </section>
  </main>
</Layout>
