---
import Layout from '../layouts/Layout.astro';
import bg from "/assets/test.jpg";
---

<Layout title="Hackitude">
  <main class="grid grid-cols-2 grid-rows-2">
    <img src={bg} class="row-span-full col-span-full">
  </main>
</Layout>
