---
import About from '@sections/About.astro';
import FeaturedArticles from '@sections/FeaturedArticles.astro';
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';

const metaDescription =
  'Hackitude.io - Master the art of web development, UX, and accessibility with practical articles, engaging tutorials, and a vibrant community.';
---

<Layout title="Hackitude">
  <main>
    <Hero />
    <FeaturedArticles
      heading="We grew up on the internet"
      paragraph="Now we work with it, write about it."
    />
    <About />
  </main>
</Layout>
