---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Hackitude">
  <main>
    <Hero />
    <section class=" h-[400px] rounded-[50px] bg-white z-20 -translate-y-10 shadow">
      <div class="max-w-7xl mx-auto grid place-items-center h-full">
        <div>
          <h2 class="uppercase font-semibold text-2xl">We grew up with the internet</h2>
          <p class="text-5xl font-bold">Later we learned to embrace it – and work with it.</p>
        </div>
      </div>
    </section>
  </main>
</Layout>
