---
import FeaturedArticles from '../components/FeaturedArticles.astro';
import LinkList from '../components/LinkList.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Hackitude | Resources">
  <main>
    <section class="max-w-7xl mx-auto">
      <div class="bg-white px-6 py-24 sm:py-32 lg:px-8">
        <div class="mx-auto max-w-2xl text-center">
          <h2 class="text-4xl font-bold tracking-tight sm:text-6xl">
            Resources
          </h2>
          <p class="mt-6 text-lg leading-8 text-gray-600">
            At Hackitude, our goal is to empower your learning journey
            in web development and UX design. In addition to our
            articles and future courses, we've curated a list of
            high-quality resources to help you learn and grow in your
            coding journey.
          </p>
        </div>
      </div>

      <LinkList />
      <FeaturedArticles
        heading="Or learn from us!"
        paragraph="Browse some of our articles to find simple explanations and tutorials."
      />
    </section>
  </main>
</Layout>
