---
import { Icon } from 'astro-icon';
---

<!-- TODO: Set up links in either CMS or md to clean up this page -->
<section class="px-8 md:px-0">
  <div class="mx-auto max-w-2xl text-center">
    <h2
      class="mx-auto text-lg font-bold tracking-tight bg-brand-green w-fit p-1"
    >
      Web development
    </h2>
    <p class="mt-2 text-3xl font-bold leading-8 sm:text-4xl">
      Finding good places to start can be overwhelming. Here is a list
      of what we think are good places to start!
    </p>
  </div>
  <ul class="grid gap-y-4 max-w-2xl mx-auto mt-16 text-left">
    <li class="rounded-md shadow p-4 hover:bg-gray-50">
      <a
        href="https://developer.mozilla.org/en-US/"
        class="grid grid-cols-2 items-center"
        target="_blank"
        rel="noopener noreferrer"
      >
        <h3 class="font-bold">Mozilla Developer Network</h3>
        <p class="col-start-1">
          Awesome documentation for anything web. Most developers
          spends time here every day.
        </p>
        <Icon
          name="fe:arrow-right"
          size={24}
          class="col-start-2 ml-auto"
        />
      </a>
    </li>
    <li class="rounded-md shadow p-4 hover:bg-gray-50">
      <a
        href="https://www.w3schools.com/"
        class="grid grid-cols-2 items-center"
        target="_blank"
        rel="noopener noreferrer"
      >
        <h3 class="font-bold">W3Schools</h3>
        <p class="col-start-1">
          A great place for beginners. Short explanations and
          tutorials.
        </p>
        <Icon
          name="fe:arrow-right"
          size={24}
          class="col-start-2 ml-auto"
        />
      </a>
    </li>
    <li class="rounded-md shadow p-4 hover:bg-gray-50">
      <a
        href="https://www.freecodecamp.org/"
        class="grid grid-cols-2 items-center"
        target="_blank"
        rel="noopener noreferrer"
      >
        <h3 class="font-bold">freeCodeCamp</h3>
        <p class="col-start-1">
          Another great place for beginners. Choose what you want to
          learn, build projects and have fun!
        </p>
        <Icon
          name="fe:arrow-right"
          size={24}
          class="col-start-2 ml-auto"
        />
      </a>
    </li>
    <li class="rounded-md shadow p-4 hover:bg-gray-50">
      <a
        href="https://css-tricks.com/"
        class="grid grid-cols-2 items-center"
        target="_blank"
        rel="noopener noreferrer"
      >
        <h3 class="font-bold">CSS-Tricks</h3>
        <p class="col-start-1">
          This has to be our favorite blog. CSS can be frustrating,
          but CSS-Tricks helps us understand and deep dive into the
          topics of styling!
        </p>
        <Icon
          name="fe:arrow-right"
          size={24}
          class="col-start-2 ml-auto"
        />
      </a>
    </li>
  </ul>
  <div class="mx-auto max-w-2xl text-center my-16">
    <h2
      class="mx-auto text-lg font-bold tracking-tight bg-brand-green w-fit p-1"
    >
      UX Design
    </h2>
    <p class="mt-2 text-3xl font-bold leading-8 sm:text-4xl">
      UX Design is becoming more and more important. It can be
      confusing to get started, but here are some great resources to
      point you in the right direction!
    </p>
    <ul class="grid gap-y-4 max-w-2xl mx-auto mt-16 text-left">
      <li class="rounded-md shadow p-4 hover:bg-gray-50">
        <a
          href="https://www.coursera.org/professional-certificates/google-ux-design"
          class="grid grid-cols-2 items-center"
          target="_blank"
          rel="noopener noreferrer"
        >
          <h3 class="font-bold">Coursera | UX Design</h3>
          <p class="col-start-1">
            Coursera is a great learning platform. This is a beginner
            friendly course in UX made by Google.
          </p>
          <Icon
            name="fe:arrow-right"
            size={24}
            class="col-start-2 ml-auto"
          />
        </a>
      </li>
      <li class="rounded-md shadow p-4 hover:bg-gray-50">
        <a
          href="https://uxdesign.cc/"
          class="grid grid-cols-2 items-center"
          target="_blank"
          rel="noopener noreferrer"
        >
          <h3 class="font-bold">UX Collective</h3>
          <p class="col-start-1">
            Great blog/publication on all things UX.
          </p>
          <Icon
            name="fe:arrow-right"
            size={24}
            class="col-start-2 ml-auto"
          />
        </a>
      </li>
      <li class="rounded-md shadow p-4 hover:bg-gray-50">
        <a
          href="https://www.figma.com/"
          class="grid grid-cols-2 items-center"
          target="_blank"
          rel="noopener noreferrer"
        >
          <h3 class="font-bold">Figma</h3>
          <p class="col-start-1">
            How can we not mention Figma? It's by far our favorite
            design tool. It's free to get started, and has a vast eco
            system of plugins!
          </p>
          <Icon
            name="fe:arrow-right"
            size={24}
            class="col-start-2 ml-auto"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
