---
import Footer from '@layout/Footer.astro';
import Header from '@svelte/Header/index.svelte';

export interface Props {
  title: string;
  metaDescription: string;
  seoSchema: any;
  ogImage: any;
}

const { title, metaDescription, seoSchema, ogImage } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="antialiased">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://cdn.usefathom.com/script.js"
      data-site="FYNGUYJG"
      defer
    ></script>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/tomorrow-night-blue.min.css"
    />
    <title>{title}</title>
    <meta
      name="description"
      content={metaDescription ||
        'Hackitude.io - Master the art of web development, UX, and accessibility with practical articles, engaging tutorials, and a vibrant community.'}
    />

    <meta
      name="keywords"
      content="Hackitude, Web Development, UX, Accessibility, HTML, CSS, JavaScript, Front-end Development, Learning, Tutorials"
    />
    <meta property="og:title" content={title} />
    <meta
      property="og:description"
      content={metaDescription ||
        'Hackitude.io - Master the art of web development, UX, and accessibility with practical articles, engaging tutorials, and a vibrant community.'}
    />
    <meta
      property="og:image"
      content={ogImage || '/assets/hackitude-og.webp'}
    />
    <meta property="og:url" content="https://hackitude.io" />
    <meta name="twitter:card" content="summary_large_image" />
    {
      seoSchema && (
        <script
          type="application/ld+json"
          set:html={seoSchema.fields.jsonLdScript}
        />
      )
    }
  </head>
  <body class="min-h-screen flex flex-col text-slate-800">
    <Header client:load />
    <div id="maincontent">
      <slot />
    </div>
    <Footer />
  </body>
</html>
